.nav{width:100%; position:fixed;top:0;left:0; background:#fff; border-bottom:1px solid #e8eaec; z-index:99;}

.nav .arrow{width:6.4rem;height:0.45rem; padding-top:0.15rem; margin:0 auto;}

.nav .arrow div{width:0.29rem;height:0.31rem; background-size:100%; margin:0 0 0 0.38rem;}

.nav .arrow div.gray{background-image:url(./img/history1.png) }
.nav .arrow div.default{background-image:url(./img/history.png) }

/*.nav .title{}*/
/*.nav .icon{}*/