.login-button{
  text-align: center;
  border-radius: 8px;
  display: inline-block;
  font-size: 0.28rem;
  border:0;
}

.login-button--default{
  height: 0.65rem;
  width: 100%;
  background: #4c4f50;
  color: #fff;
  line-height: 0.65rem;
}

.login-button--mini{
  background: #4c4f50;
  color: #fff;
  border-radius: 50%;
}