/*.content ul{width:5.78rem;height:1.92rem; border:1px solid #e5e7e8; background:#fff; margin:0 auto; margin-top:0.68rem;}*/
/*.UcInput{height:0.95rem; position:relative;}*/

.ucInput{border-bottom:1px solid #e5e7e8;height:0.95rem; position:relative;}
.ucInput input{ padding-left:1.24rem;width:4.54rem;height:100%; font-size:0.4rem;}
.ucInput span{width:1.23rem;height:0.49rem; position:absolute;top:0.26rem;left:0; border-right:1px solid #676868; color:#676868; font-size:0.25rem; line-height:0.49rem; text-align:center;}